@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

body{
    background-color:#182848;
    font-family: 'Signika Negative', sans-serif;
    font-weight: Light;
    font-size: 10px;
    color:#ffF;
    gap: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bi{
    font-size: 20px;
}
.title{
    font-size: 35px;
    text-align: center;
}

.operations{
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 25px 25px 0px 0px;
    flex-wrap: wrap;
    width: 80vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.op{
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-op{
    cursor:pointer;
    border-radius: 10px;
    font-size: 9px;
    padding: 10px 15px;
    height: 20px;
    background-color: #fff;
    color: #182848;
}
.btn-op .Search{
    background-color: #fff0;
    font-size: 20px;
    border: none;
    outline: none;
    width: 0px;
}

.btn-op:nth-child(3) .Search {
    color:rgb(0, 0, 0);
    outline: none;
    transition: 0.4s linear;
}

.btn-op:nth-child(3):hover .Search {
    width: 180px;
    color:rgb(241, 241, 241);
    outline: none;
    transition: 0.4s linear;
}


.btn-op:hover{
    background-color: #182848;
    color:#fff;
    transition: 0.4s ease-in-out;
}

.btn-op:active{
    transition: 0.1s ease-in-out;
    box-shadow: 0px 0px 7px #182848e3;
}


.container{
    width: 80.4vw;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
}

.pageContainer{ 
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.nameWindow{
    text-align: center;
    color: #182848;
    font-size: 30px;
}


.notes{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.note{
    margin: 15px;
    color:#FFF;
    width: 250px;
    background-color:  #182848;
    border-radius: 15px;
    gap: 5px;
}

.note .top{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}
.top .Name{
    padding-left: 15px;
    color:#fff;
    background-color: #18284800;
    outline: none;
    border: none;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content textarea{
    color:#fff;
    background-color: #18284800;
    border: none;
    resize: none;
    padding-bottom: 15px;
    outline: none;
    border: none;
}

.titleP {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.titleP .nameWindow{
    cursor: pointer;
}

.titleP i{
    position: absolute;
    top:25%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 25px;
    color:#182848;
}

.titleP .bi-trash3-fill{
    left: 93%;
}

.titleP .bi-chevron-up{
    left: 3%;
}
.titleP i:hover{
    color:#fff;
    background-color:#182848;
}

.modal-bg{
    background-color: rgba(255, 255, 255, 0.271);
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    color:#000;
    width: 650px;
    height: 280px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 5px #535050d1;
}
.modal h1{
    font-size: 30px;
    text-align: center;
}

.modal .buttons{
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.modal .buttons .button{
    cursor:pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:35px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    color:#fff;
    
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}
.info h1{
    font-size: 20px;
    text-align:justify;
}
.info #Text{
    width: 80%;
    height: 35px;
    outline: none;
    border: none;
    background-color: #fff0;
    font-size: 20px;
}
.button{
    box-shadow: 0px 0px 5px #656565ed;
}
.button:active{ 
    box-shadow: 0px 0px 5px #cccccced;
}

.Acp{
    background-color: rgb(57, 175, 55);
}
.Conf{
    background-color: rgb(219, 202, 15);
}
.Can{
    background-color: rgb(215, 39, 39);
}

.button i{
    margin: 0;
    padding: 0;
}

.alerts{
    width: 140px;
    position: fixed;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    left: 10px;
}
.alert{
    border-radius: 10px;
    background-color: rgb(201, 92, 92);
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;  
}
.alert h1{
    font-size: 15px;
}
.alert i{
    font-size: 25px;
}
.transitionIn{
    animation: alertIn 2.5s linear;
}
.transitionOut{
    animation: alertOut 2.5s linear;
}

@keyframes alertIn{
    0%{
        margin-left: 100%;
        opacity: 0;
    }
    100%{
        margin-left: 0%;
        opacity: 1;
    }
}

@keyframes alertOut{
    0%{
        margin-left: 0%;
        opacity: 1;
    }
    100%{margin-left: -100%;
        opacity: 0;}
}
